@model Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
    decimal? subTotal = 0;
}

<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Sipariş Detayları</h2>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Ürün ID</th>
                            <th>Ürün Adı</th>
                            <th>Ürün Fiyatı</th>
                            <th>Adet</th>
                            <th>Ara Toplam</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.OrderDetails as List<OrderDetail>)
                        {
                            @if (item.OrderId == Model.Id)
                            {
                                subTotal = 0;
                                <tr>
                                    <td>@item.ProductId</td>
                                    @foreach (var product in ViewBag.Products as List<Product>)
                                    {
                                        @if (product.Id == item.ProductId)
                                        {
                                            subTotal += product.UnitPrice * item.Quantity;
                                            <td>@product.ProductName</td>
                                            <td>@product.UnitPrice</td>
                                            <td>@item.Quantity</td>
                                            <td>@subTotal</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

